<div class="oj-hybrid-padding">
    <h5>顔ＩＤ一覧</h5>
    <div class="oj-flex-items-pad oj-sm-flex-items-initial">
        <div class="oj-flex">
            <div class="oj-flex-item" style="max-width:250px">
                <oj-label for="faceId" style="font-size: 18pt;">Face ID</oj-label>
            </div>
            <div class="oj-flex-item" style="max-width:750px">
                <oj-select-single id="faceId"
                    style="max-width:330px"
                    data="[[faceIdOptions]]" 
                    value="{{selectedFaceId}}">
                </oj-select-single>

                <oj-button on-oj-action="[[searchBtnClick]]" style="width: 94px;">
                    <span slot="startIcon" class="oj-fwk-icon oj-fwk-icon-magnifier oj-button-icon oj-start"></span>
                    <span>検索</span>
                </oj-button>
            </div>
        </div>
        <div class="oj-flex">
            <div class="oj-flex-item" style="max-width:250px"></div>
            <div class="oj-flex-item">
                <oj-button>
                    <span slot="startIcon" class="oj-ux-ico-share"></span>
                    <span>Face ID 登録</span>
                </oj-button>
                <oj-button>
                    <span slot="startIcon" class="oj-ux-ico-share"></span>
                    <span>Face ID 削除</span>
                </oj-button>
                <oj-button on-oj-action="[[startTrainBtnClick]]">
                    <span slot="startIcon" class="oj-ux-ico-share"></span>
                    <span>学習開始</span>
                </oj-button>
                <oj-button on-oj-action="[[stopTrainBtnClick]]">
                    <span slot="startIcon" class="oj-ux-ico-share"></span>
                    <span>学習停止</span>
                </oj-button>
                <oj-button on-oj-action="[[trainStatusBtnClick]]">
                    <span slot="startIcon" class="oj-ux-ico-share"></span>
                    <span>学習ステータス確認</span>
                </oj-button>
            </div>
        </div>
        <div class="oj-flex">
            <div class="oj-flex-item">
                <script type="text/html" id="row_face_info_tmpl">
                    <tr>
                        <td><oj-bind-text value="{{faceId}}"></oj-bind-text></td>
                        <td><oj-bind-text value="{{faceName}}"></oj-bind-text></td>
                        <td><oj-bind-text value="{{seq}}"></oj-bind-text></td>
                        <td><oj-bind-text value="{{statusName}}"></oj-bind-text></td>
                        <td><img data-bind="attr: {src:faceBinary}" style="height:50px"></td>
                    </tr>
                </script>

                <oj-table id="faceIdList"
                    class="demo-table-container"
                    data="[[pagingDataFaces]]"
                    selected="{{selectedFace}}"
                    selection-mode='{"row": "multiple", "column": "none"}'
                    scroll-policy="loadMoreOnScroll"
                    scroll-policy-options='{"fetchSize": 10}'
                    row-renderer='[[oj.KnockoutTemplateUtils.getRenderer("row_face_info_tmpl", true)]]'
                    columns="[[headerColumns]]" style="width: 800px">
                    <oj-paging-control id="paging" data="[[pagingDataFaces]]" page-size="10" slot="top" style="max-height:60px"></oj-paging-control>
                </oj-table>
            </div>
        </div>
    </div>
</div>

<span data-bind="ojModule: modelTrainStatusViewPopup"></span>